extends layout

block content
    title= title
    
    nav.top-bar(class="site-navbar")
        ul.title-area
            li.name
              h1
                a(href='#') declare.it 
            li.toggle-topbar.menu-icon
              a(href='#')
                span Menu
          section.top-bar-section
            ul.right
              li.divider
              li
                a(href='/logout') Log out


    .large-3.columns
        .docs.section-container.accordion(data-section='data-section', data-options='one_up: false')
            section.section
              p.title
                a(href='/home') Home
            section.section.active
              p.title
                a(href='/concentrationReqs') Concentration Requirements
              div.content
                ul.side-nav
                  li
                    a(href="/e-bio") E-Bioengineering
                  li 
                    a(href="/e-computing") E-Computing
                  li 
                    a(href="/e-design") E-Design
                  li 
                    a(href="/e-matsci") E-Materials Science
                  li
                    a(href="/e-systems") E-Systems

            section.section
              p.title
                a(href='/studyPlan/new') New Plan of Study


    .container
        div.row
            div.large-11.push-1
                h1 Engineering Major Requirements
                | The Engineering degree program offers a major in Engineering that is both 
                b rigorous 
                | and 
                b flexible. 
                br
                br
                | This program gives students the option to pursue new areas of engineering and interdisciplinary combinations of engineering and other fields. It is also intended to give the college mechanisms for investigating new areas and creating new concentrations. 
                br
                br
                | All paths to graduation with the engineering degree provide for all outcomes required by the ABET General Criteria.
                br
                br
                | The Engineering Program has 
                b four educational objectives:

        div.row
            div.large-9.push-3
              ol
                li(style="margin-bottom:20px") Graduates strengthen the teams and communities they are part of by cultivating collaboration, effective communication, and leadership.
                li(style="margin-bottom:20px") Graduates apply a multi-disciplinary engineering approach to solving important technical and societal challenges.
                li(style="margin-bottom:20px") Graduates create value for society through entrepreneurial and design thinking that transforms needs and opportunities into systems, products, and solutions.
                li(style="margin-bottom:20px") Graduates adaptively and independently extend their learning to excel in fields about which they are passionate.
        div.row
            div.large-9.push-3
              | Students who choose the Engineering degree may specify a concentration, which is a set of classes that constitute a coherent area of study. A student’s concentration appears on the diploma but not on the official transcript. The college offers designated concentrations in Bioengineering, Computing, Materials Science, and Systems. Alternatively, students may design a concentration in another area.
              br
              br
              | Students who choose the Engineering degree must submit a plan of study along with their declaration of major. The plan lists the courses the student intends to take to fulfill graduation requirements, and demonstrates that these courses (along with additional required courses) constitute a major in engineering that has depth, breadth, coherence, and rigor.
              br
              br
              | The plan of study must be signed by the student’s adviser and two faculty members whose area of expertise is relevant to the proposed area of study (if the adviser’s area is relevant, the adviser can count as one of the two).
              br
              br
              | Plans of study are reviewed by the Engineering Program Group. This group is responsible for 
              b checking the following criteria:
              br
              br
              ul
                li(style="margin-bottom:20px") Do the proposed courses constitute a major in Engineering that has breadth, depth, coherence and rigor?
                li(style="margin-bottom:20px") Do the faculty who approved the plan have relevant expertise? Should other faculty be consulted?
                li(style="margin-bottom:20px") Is the plan feasible based on a reasonable forecast of course offerings? The availability of faculty and other resources determines which classes are offered and their schedule, which may limit a student’s ability to complete a particular concentration.
                li(style="margin-bottom:20px") Is the plan comparable to the designated concentrations and previous student-designed concentrations? If a student-designed concentration is named, is the proposed name accurate and appropriate?

        div.row
          div.large-10.push-3
            | The designated concentrations are examples of recommended programs, but all course plans go through the same review process. The plan of study is provisional. If approved and completed, a student may use it to graduate. Minor substitutions may be made with adviser approval; substantive changes require approval of the Engineering Program Group.



        div.row
            div.large-10.push-3






                    

