extends layout

block content
    title= title
    
    nav.top-bar(class="site-navbar")
        ul.title-area
            li.name
              h1
                a(href='#') declare.it 
            li.toggle-topbar.menu-icon
              a(href='#')
                span Menu
          section.top-bar-section
            ul.right
              li.divider
              li
                a(href='#') Log out


    .large-3.columns
        .docs.section-container.accordion(data-section='data-section', data-options='one_up: false')
            section.section.active
              p.title
                a(href='/home') Home
            section.section
              p.title
                a(href='#') Concentration Requirements
            section.section
              p.title
                a(href='/studyPlan/new') New Plan of Study